body {
  background-color: #f8bfb6;
}

a:link,
a:visited {
  background-color: #3e59a5;
  color: white;
  padding: 14px 25px;
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  margin-top: 200px;
}

a:hover,
a:active {
  background-color: #284081;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dropdown {
  background-color: #3e59a5;
  color: white;
  padding: 5px 21px;
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: 100%;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  margin-top: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100px;
}

.dropdown:hover,
.dropdown:active {
  background-color: #284081;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  margin-top: 360px;
  position: absolute;
  background-color: #ffffff;
  font-family: "Trebuchet MS";
  font-size: 100%;
  color: #3e59a5;
  min-width: 360px;
  box-shadow: 0px 8px 16px 0px #00000033;
  padding: 12px 16px;
  z-index: 1;
}

/* the dropdown i got from W3Schools */
